@model TheNewFacebook.Models.Users

@{
    ViewBag.Title = "Index";
}
<div class="container text-center">
  <div class="row">
  <div class="well well-lg clearfix">
    
    <div class="col-xs-6 col-md-4">
      <div class="alert alert-info">
          <p>
              <b>Living in:</b> @Html.DisplayFor(m => m.City)<br />
              <b>Phone number:</b> @Html.DisplayFor(m => m.Phone)<br />
              <b>Relationship status:</b> @Html.DisplayFor(m => m.RelationshipStatus)<br />
              <b>Workplace:</b> @Html.DisplayFor(m => m.Workplace)
          </p>
      </div>
    </div>    
    
    <div class="col-xs-6 col-md-4 col-md-push-4">
      <div class="alert alert-danger">
       <p>
           <h4><b>@Html.DisplayFor(m => m.FirstName) @Html.DisplayFor(m => m.LastName)</b></h4>
           <img src="@Url.Content(Model.Image)alt=" Image" height="220" width="180 />

       </p>
      </div>
    </div>
    
    <
    
  </div>
  </div>  
</div>
<h4><b>The New Facebook</b></h4>
<h4>1 Hacker Way</h4>
<h4>Menlo Park, CA</h4>


