@model TheNewFacebook.Models.NewsFeed

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>NewsFeed</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.text)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.text)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.updateDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.updateDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.likes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.likes)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Author)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Author)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
