@model IEnumerable<TheNewFacebook.Models.NewsFeed>

@{
    ViewBag.Title = "Index";
}

<h2>News Feed</h2>



@foreach (var item in Model.OrderByDescending(t => t.updateDate))
{


        <div class="wrap">
            <h1>@Html.DisplayFor(m => item.updateDate)</h1>
            <p>
                @Html.DisplayFor(m => item.Author)
            </p>
            @if (item.ImagePath != null)
            {
                <img src="@Url.Content(item.ImagePath)" alt="Image" width="50" height="150" />
            }


            <p>
                @Html.DisplayFor(m => item.text)
            </p>
            <br />
            
      @*@{Html.RenderAction("CommentsView", "NewsFeeds", new List<TheNewFacebook.Models.Comments> { new TheNewFacebook.Models.Comments() }); }  *@
        <p>Likes: @Html.DisplayFor(m => item.likes)</p>
        </div>

        }
